[Unit]
Description=DemoBbbApiV3

[Service]
WorkingDirectory=/var/toltek/demo/apps/Toltek.Bbb.ApiV3/app
ExecStart=/usr/bin/dotnet /var/toltek/demo/apps/Toltek.Bbb.ApiV3/app/Toltek.Bbb.ApiV3.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=60
KillSignal=SIGINT
SyslogIdentifier=demo-bbb-apiv3
User=root
Environment=ASPNETCORE_ENVIRONMENT=Demo
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=true
Environment=ConfigPath=/var/toltek/demo/settings
Environment=Instance=Demo


[Install]
WantedBy=multi-user.target